<div [class.content1]="!hasInitData" class="transition-1 bg-aliceblue">
  <div [class.content2]="!hasInitData" [class.shining]="importingSheet">
    <div *ngIf="!hasInitData || (hasInitData && readyStart)" [class.w-fit]="!hasInitData" [class.mr-50]="!hasInitData" [class.box-img]="!hasInitData" [class.pd-50-20]="hasInitData" class="transition-1 flex">
      <img [class.box-img]="!hasInitData" [class.w-300]="!hasInitData" [class.w-60]="hasInitData" class="br-10 transition-1" src="/assets/img/logo.svg" />
      <h2 *ngIf="hasInitData" class="title-1 slide-text" [class.show]="slideText">PODCAST COST TOOL</h2>
    </div>
    <div *ngIf="!hasInitData" class="w-70-p bounceIn">
      <h1 class="mb-20">建立成本對照表</h1>
      <div class="content3">
        <h4 class="bounceIn animation-delay4">從Google表單匯入</h4>
        <div class="flex w-full bounceIn animation-delay4 mb-20">
          <p class="mb-0 mr-10 flex align-items-center w-5-p fs-25 blod">ID</p>
          <input type="text" class="form-control w-80-p mr-10" value="1LkJg3P4RQGlNwFggYHzV0lAC4F8soFUIyIGaUdwsoZM" [disabled]="sheetName" #googleSheetId />
          <button *ngIf="!sheetName" class="form-control w-15-p" (click)="getSheetNames(googleSheetId.value)">檢查表單</button>
        </div>
        <div *ngIf="sheetName" class="flex fade-in-down">
          <p class="mb-0 fs-25 blod w-64-p mr-10">表單名稱：{{ sheetName }}</p>
          <button class="form-control w-10-p mr-6" (click)="importSheet(googleSheetId.value)">匯入</button>
          <button class="form-control w-10-p" (click)="sheetName = ''">返回</button>
        </div>
        <div *ngIf="error1" class="flex fade-in-down">
          <p class="mb-0 fs-25 blod">錯誤：{{ error1 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="hasInitData" class="pd-0-50 bg-aliceblue">
  <div *ngIf="!readyStart" class="w-full h-full flex-center h-94-vh">
    <div class="loading-bar-div1 zoomUp1 transition-delay1"></div>
    <div class="loading-bar-div2 zoomUp2 transition-delay2"></div>
    <div class="loading-bar-div3 zoomUp3 transition-delay3"></div>
  </div>
  <div *ngIf="readyStart" class="h-full flex align-items-center justify-content-center box overflow-auto h-84-vh bounceIn">
    <div class="w-50-p h-full border-right pr-20px flex flex-direction-column position-relative">
      <div class="flex justify-content-between">
        <div class="flex">
          <h2 class="bounceIn animation-delay2 color-cadetblue blod">成本對照表</h2>
          <h6 class="flex align-items-center bounceIn animation-delay2 color-cadetblue blod">({{ sheetName }})</h6>
        </div>
        <div>
          <img role="button" src="/assets/img/rotate.svg" class="rotateBtn" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="重新抓取目前表單資料" (click)="refreshSheet()" />
          <img role="button" src="/assets/img/plus.svg" class="plusBtn" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="匯入新表單" (click)="importNew()" />
        </div>
      </div>
      <ng-container *ngIf="readyStart">
        <ul *ngIf="!refreshingSheet" class="nav nav-tabs fade-in-down animation-delay6 mb-20" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="moderator-tab" data-bs-toggle="tab" data-bs-target="#moderator-tab-pane" type="button" role="tab" aria-controls="moderator-tab-pane" aria-selected="true" (click)="clearEditing()">主持人</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="recordingStudio-tab" data-bs-toggle="tab" data-bs-target="#recordingStudio-tab-pane" type="button" role="tab" aria-controls="recordingStudio-tab-pane" aria-selected="false" (click)="clearEditing()">錄音室</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="postMix-tab" data-bs-toggle="tab" data-bs-target="#postMix-tab-pane" type="button" role="tab" aria-controls="postMix-tab-pane" aria-selected="false" (click)="clearEditing()">後製混音</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="sideRecordingCombination-tab" data-bs-toggle="tab" data-bs-target="#sideRecordingCombination-tab-pane" type="button" role="tab" aria-controls="sideRecordingCombination-tab-pane" aria-selected="false" (click)="clearEditing()">側錄梳化</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="outboundInterviewWriter-tab" data-bs-toggle="tab" data-bs-target="#outboundInterviewWriter-tab-pane" type="button" role="tab" aria-controls="outboundInterviewWriter-tab-pane" aria-selected="false" (click)="clearEditing()">訪綱寫手</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="photography-tab" data-bs-toggle="tab" data-bs-target="#photography-tab-pane" type="button" role="tab" aria-controls="photography-tab-pane" aria-selected="false" (click)="clearEditing()">平面攝影</button>
          </li>
        </ul>
        <div *ngIf="refreshingSheet" class="w-full h-full flex-center position-absolute -top-50">
          <div class="loading-bar-div1 zoomUp1 transition-delay1"></div>
          <div class="loading-bar-div2 zoomUp2 transition-delay2"></div>
          <div class="loading-bar-div3 zoomUp3 transition-delay3"></div>
        </div>
        <div *ngIf="moderatorArray.length > 0 && !refreshingSheet" class="tab-content h-full fade-in-down animation-delay6 overflow-auto" id="myTabContent">
          <div class="tab-pane fade show active" id="moderator-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <table class="table table-striped">
              <thead><th class="w-65"></th><th scope="col">主持人</th><th scope="col" class="w-200">成本</th></thead>
              <tbody>
                <tr *ngFor="let moderator of moderatorArray; let i = index">
                  <th scope="row" class="deleteShowTh hoverHideTh vertical-align-middle">
                    <span *ngIf="singleAddRowEditing && !moderator.singleAddRowEdit">{{ i + 1 }}</span>
                    <span *ngIf="!singleAddRowEditing" class="hoverHide">{{ i + 1 }}</span>
                    <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/circle-minus.svg" class="deleteShow" (click)="deleteRow()">
                    <img *ngIf="moderator.singleAddRowEdit" role="button" src="/assets/img/circle-xmark.svg" class="confirmShow w-20-i" (click)="cancelAddRow('moderator'); moderator.singleAddRowEdit = false" />
                  </th>
                  <td class="penShowTd vertical-align-middle">
                    <div *ngIf="!moderator.singleAddRowEdit" class="flex justify-content-between">
                      <ng-container *ngIf="moderator.edit !== 'name'">
                        {{ moderator.name }}
                        <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/pen.svg" class="penShow" (click)="moderator.edit = 'name'; checkEditStatus('moderator', i)">
                      </ng-container>
                      <ng-container *ngIf="moderator.edit === 'name'">
                        <div class="position-relative w-full mr-10">
                          <input type="text" class="form-control" [value]="moderator.name" #saveSignleCloumEle />
                          <img role="button" src="/assets/img/circle-xmark.svg" class="cancelShow" (click)="moderator.edit = ''" />
                        </div>
                        <img role="button" src="/assets/img/check.svg" class="confirmShow"  (click)="moderator.edit = ''; saveSingleCloum('moderator', moderator, 'A' + (i + 2), saveSignleCloumEle.value)" />
                      </ng-container>
                    </div>
                    <div *ngIf="moderator.singleAddRowEdit">
                      <div class="position-relative w-full mr-10">
                        <input type="text" class="form-control" #addSingleCloumName />
                      </div>
                    </div>
                  </td>
                  <td class="penShowTd vertical-align-middle">
                    <div *ngIf="!moderator.singleAddRowEdit" class="flex justify-content-between">
                      <ng-container *ngIf="moderator.edit !== 'cost'">
                        NT {{ moderator.cost }}
                        <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/pen.svg" class="penShow" (click)="moderator.edit = 'cost'; checkEditStatus('moderator', i)">
                      </ng-container>
                      <ng-container *ngIf="moderator.edit === 'cost'">
                        <div class="position-relative flex align-items-center mr-10">
                          <span class="mr-10">NT</span>
                          <input type="number" class="form-control no-spinner" [value]="moderator.cost" #saveSignleCloumEle />
                          <img role="button" src="/assets/img/circle-xmark.svg" class="cancelShow" (click)="moderator.edit = ''" />
                        </div>
                        <img role="button" src="/assets/img/check.svg" class="confirmShow" (click)="moderator.edit = ''; saveSingleCloum('moderator', moderator, 'B' + (i + 2), saveSignleCloumEle.value)" />
                      </ng-container>
                    </div>
                    <div *ngIf="moderator.singleAddRowEdit" class="flex justify-content-between">
                      <div class="position-relative flex align-items-center mr-10">
                        <span class="mr-10">NT</span>
                        <input type="number" class="form-control no-spinner mr-10" #addSingleCloumCost />
                        <img role="button" src="/assets/img/check.svg" class="confirmShow mr-0-i" (click)="confirmAddRow('moderator')" />
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="!singleAddRowEditing">
                  <td colspan="3" class="addRowTd">
                    <img role="button" src="/assets/img/circle-plus.svg" class="addRowShow" (click)="addRow('moderator')" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="recordingStudio-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <table class="table table-striped">
              <thead><th class="w-65"></th><th scope="col">錄音室</th><th scope="col" class="w-200">成本</th></thead>
              <tbody>
                <tr *ngFor="let recordingStudio of recordingStudioArray; let i = index">
                  <th scope="row" class="deleteShowTh hoverHideTh vertical-align-middle">
                    <span *ngIf="singleAddRowEditing && !recordingStudio.singleAddRowEdit">{{ i + 1 }}</span>
                    <span *ngIf="!singleAddRowEditing" class="hoverHide">{{ i + 1 }}</span>
                    <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/circle-minus.svg" class="deleteShow" (click)="deleteRow()">
                    <img *ngIf="recordingStudio.singleAddRowEdit" role="button" src="/assets/img/circle-xmark.svg" class="confirmShow w-20-i" (click)="cancelAddRow('recordingStudio'); recordingStudio.singleAddRowEdit = false" />
                  </th>
                  <td class="penShowTd vertical-align-middle">
                    <div *ngIf="!recordingStudio.singleAddRowEdit" class="flex justify-content-between">
                      <ng-container *ngIf="recordingStudio.edit !== 'name'">
                        {{ recordingStudio.name }}
                        <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/pen.svg" class="penShow" (click)="recordingStudio.edit = 'name'; checkEditStatus('recordingStudio', i)">
                      </ng-container>
                      <ng-container *ngIf="recordingStudio.edit === 'name'">
                        <div class="position-relative w-full mr-10">
                          <input type="text" class="form-control" [value]="recordingStudio.name" #saveSignleCloumEle />
                          <img role="button" src="/assets/img/circle-xmark.svg" class="cancelShow" (click)="recordingStudio.edit = ''" />
                        </div>
                        <img role="button" src="/assets/img/check.svg" class="confirmShow"  (click)="recordingStudio.edit = ''; saveSingleCloum('recordingStudio', recordingStudio, 'A' + (i + 2), saveSignleCloumEle.value)" />
                      </ng-container>
                    </div>
                    <div *ngIf="recordingStudio.singleAddRowEdit">
                      <div class="position-relative w-full mr-10">
                        <input type="text" class="form-control" #addSingleCloumName />
                      </div>
                    </div>
                  </td>
                  <td class="penShowTd vertical-align-middle">
                    <div *ngIf="!recordingStudio.singleAddRowEdit" class="flex justify-content-between">
                      <ng-container *ngIf="recordingStudio.edit !== 'cost'">
                        NT {{ recordingStudio.cost }}
                        <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/pen.svg" class="penShow" (click)="recordingStudio.edit = 'cost'; checkEditStatus('recordingStudio', i)">
                      </ng-container>
                      <ng-container *ngIf="recordingStudio.edit === 'cost'">
                        <div class="position-relative flex align-items-center mr-10">
                          <span class="mr-10">NT</span>
                          <input type="number" class="form-control no-spinner" [value]="recordingStudio.cost" #saveSignleCloumEle />
                          <img role="button" src="/assets/img/circle-xmark.svg" class="cancelShow" (click)="recordingStudio.edit = ''" />
                        </div>
                        <img role="button" src="/assets/img/check.svg" class="confirmShow" (click)="recordingStudio.edit = ''; saveSingleCloum('recordingStudio', recordingStudio, 'B' + (i + 2), saveSignleCloumEle.value)" />
                      </ng-container>
                    </div>
                    <div *ngIf="recordingStudio.singleAddRowEdit" class="flex justify-content-between">
                      <div class="position-relative flex align-items-center mr-10">
                        <span class="mr-10">NT</span>
                        <input type="number" class="form-control no-spinner mr-10" #addSingleCloumCost />
                        <img role="button" src="/assets/img/check.svg" class="confirmShow mr-0-i" (click)="confirmAddRow('recordingStudio')" />
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="!singleAddRowEditing">
                  <td colspan="3" class="addRowTd">
                    <img role="button" src="/assets/img/circle-plus.svg" class="addRowShow" (click)="addRow('recordingStudio')" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="postMix-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <table class="table table-striped">
              <thead><th class="w-65"></th><th scope="col">混音公司</th><th scope="col" class="w-200">成本</th></thead>
              <tbody>
                <tr *ngFor="let postMix of postMixArray; let i = index">
                  <th scope="row" class="deleteShowTh hoverHideTh vertical-align-middle">
                    <span *ngIf="singleAddRowEditing && !postMix.singleAddRowEdit">{{ i + 1 }}</span>
                    <span *ngIf="!singleAddRowEditing" class="hoverHide">{{ i + 1 }}</span>
                    <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/circle-minus.svg" class="deleteShow" (click)="deleteRow()">
                    <img *ngIf="postMix.singleAddRowEdit" role="button" src="/assets/img/circle-xmark.svg" class="confirmShow w-20-i" (click)="cancelAddRow('postMix'); postMix.singleAddRowEdit = false" />
                  </th>
                  <td class="penShowTd vertical-align-middle">
                    <div *ngIf="!postMix.singleAddRowEdit" class="flex justify-content-between">
                      <ng-container *ngIf="postMix.edit !== 'name'">
                        {{ postMix.name }}
                        <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/pen.svg" class="penShow" (click)="postMix.edit = 'name'; checkEditStatus('postMix', i)">
                      </ng-container>
                      <ng-container *ngIf="postMix.edit === 'name'">
                        <div class="position-relative w-full mr-10">
                          <input type="text" class="form-control" [value]="postMix.name" #saveSignleCloumEle />
                          <img role="button" src="/assets/img/circle-xmark.svg" class="cancelShow" (click)="postMix.edit = ''" />
                        </div>
                        <img role="button" src="/assets/img/check.svg" class="confirmShow"  (click)="postMix.edit = ''; saveSingleCloum('postMix', postMix, 'A' + (i + 2), saveSignleCloumEle.value)" />
                      </ng-container>
                    </div>
                    <div *ngIf="postMix.singleAddRowEdit">
                      <div class="position-relative w-full mr-10">
                        <input type="text" class="form-control" #addSingleCloumName />
                      </div>
                    </div>
                  </td>
                  <td class="penShowTd vertical-align-middle">
                    <div *ngIf="!postMix.singleAddRowEdit" class="flex justify-content-between">
                      <ng-container *ngIf="postMix.edit !== 'cost'">
                        NT {{ postMix.cost }}
                        <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/pen.svg" class="penShow" (click)="postMix.edit = 'cost'; checkEditStatus('postMix', i)">
                      </ng-container>
                      <ng-container *ngIf="postMix.edit === 'cost'">
                        <div class="position-relative flex align-items-center mr-10">
                          <span class="mr-10">NT</span>
                          <input type="number" class="form-control no-spinner" [value]="postMix.cost" #saveSignleCloumEle />
                          <img role="button" src="/assets/img/circle-xmark.svg" class="cancelShow" (click)="postMix.edit = ''" />
                        </div>
                        <img role="button" src="/assets/img/check.svg" class="confirmShow" (click)="postMix.edit = ''; saveSingleCloum('postMix', postMix, 'B' + (i + 2), saveSignleCloumEle.value)" />
                      </ng-container>
                    </div>
                    <div *ngIf="postMix.singleAddRowEdit" class="flex justify-content-between">
                      <div class="position-relative flex align-items-center mr-10">
                        <span class="mr-10">NT</span>
                        <input type="number" class="form-control no-spinner mr-10" #addSingleCloumCost />
                        <img role="button" src="/assets/img/check.svg" class="confirmShow mr-0-i" (click)="confirmAddRow('postMix')" />
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="!singleAddRowEditing">
                  <td colspan="3" class="addRowTd">
                    <img role="button" src="/assets/img/circle-plus.svg" class="addRowShow" (click)="addRow('postMix')" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="sideRecordingCombination-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <table class="table table-striped">
              <thead><th class="w-65"></th><th scope="col">梳化師</th><th scope="col">性別</th><th scope="col" class="w-200">成本</th></thead>
              <tbody>
                <ng-container *ngFor="let sideRecordingCombination of sideRecordingCombinationArray; let i = index">
                  <tr>
                    <th scope="row" class="deleteShowTh hoverHideTh vertical-align-middle">
                      <span *ngIf="singleAddRowEditing && !sideRecordingCombination.singleAddRowEdit">{{ i + 1 }}</span>
                      <span *ngIf="!singleAddRowEditing" class="hoverHide">{{ i + 1 }}</span>
                      <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/circle-minus.svg" class="deleteShow" (click)="deleteRow()">
                      <img *ngIf="sideRecordingCombination.singleAddRowEdit" role="button" src="/assets/img/circle-xmark.svg" class="confirmShow w-20-i" (click)="cancelAddRow('sideRecordingCombination'); sideRecordingCombination.singleAddRowEdit = false" />
                    </th>
                    <td class="penShowTd vertical-align-middle">
                      <div *ngIf="!sideRecordingCombination.singleAddRowEdit" class="flex justify-content-between">
                        <ng-container *ngIf="sideRecordingCombination.edit !== 'name'">
                          {{ sideRecordingCombination.name }}
                          <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/pen.svg" class="penShow"
                          (click)="sideRecordingCombination.edit = 'name'; sideRecordingCombination.gender.FeMale.edit = ''; sideRecordingCombination.gender.Male.edit = ''; checkEditStatus('sideRecordingCombination', i)">
                        </ng-container>
                        <ng-container *ngIf="sideRecordingCombination.edit === 'name'">
                          <div class="position-relative w-full mr-10">
                            <input type="text" class="form-control" [value]="sideRecordingCombination.name" #saveSignleCloumEle />
                            <img role="button" src="/assets/img/circle-xmark.svg" class="cancelShow" (click)="sideRecordingCombination.edit = ''" />
                          </div>
                          <img role="button" src="/assets/img/check.svg" class="confirmShow"  (click)="sideRecordingCombination.edit = ''; saveSingleCloum('sideRecordingCombination', sideRecordingCombination, 'A' + (i + 2), saveSignleCloumEle.value)" />
                        </ng-container>
                      </div>
                      <div *ngIf="sideRecordingCombination.singleAddRowEdit">
                        <div class="position-relative w-full mr-10">
                          <input type="text" class="form-control" #addSingleCloumName />
                        </div>
                      </div>
                    </td>
                    <td class="vertical-align-middle">女</td>
                    <td class="penShowTd vertical-align-middle">
                      <div *ngIf="!sideRecordingCombination.singleAddRowEdit" class="flex justify-content-between">
                        <ng-container *ngIf="sideRecordingCombination.gender.FeMale.edit !== 'cost'">
                          NT {{ sideRecordingCombination.gender.FeMale.cost }}
                          <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/pen.svg" class="penShow"
                          (click)="sideRecordingCombination.gender.FeMale.edit = 'cost'; sideRecordingCombination.gender.Male.edit = ''; sideRecordingCombination.edit = ''; checkEditStatus('sideRecordingCombination', i)">
                        </ng-container>
                        <ng-container *ngIf="sideRecordingCombination.gender.FeMale.edit === 'cost'">
                          <div class="position-relative flex align-items-center mr-10">
                            <span class="mr-10">NT</span>
                            <input type="number" class="form-control no-spinner" [value]="sideRecordingCombination.gender.FeMale.cost" #saveSignleCloumEle />
                            <img role="button" src="/assets/img/circle-xmark.svg" class="cancelShow" (click)="sideRecordingCombination.gender.FeMale.edit = ''" />
                          </div>
                          <img role="button" src="/assets/img/check.svg" class="confirmShow" (click)="sideRecordingCombination.gender.FeMale.edit = ''; saveSingleCloum('sideRecordingCombination', sideRecordingCombination.gender.FeMale, 'C' + (i + 2), saveSignleCloumEle.value)" />
                        </ng-container>
                      </div>
                      <div *ngIf="sideRecordingCombination.singleAddRowEdit" class="flex justify-content-between">
                        <div class="position-relative flex align-items-center mr-10">
                          <span class="mr-10">NT</span>
                          <input type="number" class="form-control no-spinner mr-10" #addSingleCloumFeMaleCost />
                          <img src="/assets/img/check.svg" class="confirmShow mr-0-i opacity-0" disabled />
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td class="vertical-align-middle">男</td>
                    <td class="penShowTd vertical-align-middle">
                      <div *ngIf="!sideRecordingCombination.singleAddRowEdit" class="flex justify-content-between">
                        <ng-container *ngIf="sideRecordingCombination.gender.Male.edit !== 'cost'">
                          NT {{ sideRecordingCombination.gender.Male.cost }}
                          <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/pen.svg" class="penShow"
                            (click)="sideRecordingCombination.gender.Male.edit = 'cost'; sideRecordingCombination.gender.FeMale.edit = ''; sideRecordingCombination.edit = ''; checkEditStatus('sideRecordingCombination', i)">
                          </ng-container>
                        <ng-container *ngIf="sideRecordingCombination.gender.Male.edit === 'cost'">
                          <div class="position-relative flex align-items-center mr-10">
                            <span class="mr-10">NT</span>
                            <input type="number" class="form-control no-spinner" [value]="sideRecordingCombination.gender.Male.cost" #saveSignleCloumEle />
                            <img role="button" src="/assets/img/circle-xmark.svg" class="cancelShow" (click)="sideRecordingCombination.gender.Male.edit = ''" />
                          </div>
                          <img role="button" src="/assets/img/check.svg" class="confirmShow" (click)="sideRecordingCombination.gender.Male.edit = ''; saveSingleCloum('sideRecordingCombination', sideRecordingCombination.gender.Male, 'C' + (i + 1 + 2), saveSignleCloumEle.value)" />
                        </ng-container>
                      </div>
                      <div *ngIf="sideRecordingCombination.singleAddRowEdit" class="flex justify-content-between">
                        <div class="position-relative flex align-items-center mr-10">
                          <span class="mr-10">NT</span>
                          <input type="number" class="form-control no-spinner mr-10" #addSingleCloumMaleCost />
                          <img role="button" src="/assets/img/check.svg" class="confirmShow mr-0-i" (click)="confirmAddRow('sideRecordingCombination')" />
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <tr *ngIf="!singleAddRowEditing">
                  <td colspan="4" class="addRowTd">
                    <img role="button" src="/assets/img/circle-plus.svg" class="addRowShow" (click)="addRow('sideRecordingCombination')" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="outboundInterviewWriter-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <table class="table table-striped">
              <thead><th class="w-65"></th><th scope="col">訪綱寫手</th><th scope="col" class="w-200">成本</th></thead>
              <tbody>
                <tr *ngFor="let outboundInterviewWriter of outboundInterviewWriterArray; let i = index">
                  <th scope="row" class="deleteShowTh hoverHideTh vertical-align-middle">
                    <span *ngIf="singleAddRowEditing && !outboundInterviewWriter.singleAddRowEdit">{{ i + 1 }}</span>
                    <span *ngIf="!singleAddRowEditing" class="hoverHide">{{ i + 1 }}</span>
                    <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/circle-minus.svg" class="deleteShow" (click)="deleteRow()">
                    <img *ngIf="outboundInterviewWriter.singleAddRowEdit" role="button" src="/assets/img/circle-xmark.svg" class="confirmShow w-20-i" (click)="cancelAddRow('outboundInterviewWriter'); outboundInterviewWriter.singleAddRowEdit = false" />
                  </th>
                  <td class="penShowTd vertical-align-middle">
                    <div *ngIf="!outboundInterviewWriter.singleAddRowEdit" class="flex justify-content-between">
                      <ng-container *ngIf="outboundInterviewWriter.edit !== 'name'">
                        {{ outboundInterviewWriter.name }}
                        <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/pen.svg" class="penShow" (click)="outboundInterviewWriter.edit = 'name'; checkEditStatus('outboundInterviewWriter', i)">
                      </ng-container>
                      <ng-container *ngIf="outboundInterviewWriter.edit === 'name'">
                        <div class="position-relative w-full mr-10">
                          <input type="text" class="form-control" [value]="outboundInterviewWriter.name" #saveSignleCloumEle />
                          <img role="button" src="/assets/img/circle-xmark.svg" class="cancelShow" (click)="outboundInterviewWriter.edit = ''" />
                        </div>
                        <img role="button" src="/assets/img/check.svg" class="confirmShow"  (click)="outboundInterviewWriter.edit = ''; saveSingleCloum('outboundInterviewWriter', outboundInterviewWriter, 'A' + (i + 2), saveSignleCloumEle.value)" />
                      </ng-container>
                    </div>
                    <div *ngIf="outboundInterviewWriter.singleAddRowEdit">
                      <div class="position-relative w-full mr-10">
                        <input type="text" class="form-control" #addSingleCloumName />
                      </div>
                    </div>
                  </td>
                  <td class="penShowTd vertical-align-middle">
                    <div *ngIf="!outboundInterviewWriter.singleAddRowEdit" class="flex justify-content-between">
                      <ng-container *ngIf="outboundInterviewWriter.edit !== 'cost'">
                        NT {{ outboundInterviewWriter.cost }}
                        <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/pen.svg" class="penShow" (click)="outboundInterviewWriter.edit = 'cost'; checkEditStatus('outboundInterviewWriter', i)">
                      </ng-container>
                      <ng-container *ngIf="outboundInterviewWriter.edit === 'cost'">
                        <div class="position-relative flex align-items-center mr-10">
                          <span class="mr-10">NT</span>
                          <input type="number" class="form-control no-spinner" [value]="outboundInterviewWriter.cost" #saveSignleCloumEle />
                          <img role="button" src="/assets/img/circle-xmark.svg" class="cancelShow" (click)="outboundInterviewWriter.edit = ''" />
                        </div>
                        <img role="button" src="/assets/img/check.svg" class="confirmShow" (click)="outboundInterviewWriter.edit = ''; saveSingleCloum('outboundInterviewWriter', outboundInterviewWriter, 'B' + (i + 2), saveSignleCloumEle.value)" />
                      </ng-container>
                    </div>
                    <div *ngIf="outboundInterviewWriter.singleAddRowEdit" class="flex justify-content-between">
                      <div class="position-relative flex align-items-center mr-10">
                        <span class="mr-10">NT</span>
                        <input type="number" class="form-control no-spinner mr-10" #addSingleCloumCost />
                        <img role="button" src="/assets/img/check.svg" class="confirmShow mr-0-i" (click)="confirmAddRow('outboundInterviewWriter')" />
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="!singleAddRowEditing">
                  <td colspan="3" class="addRowTd">
                    <img role="button" src="/assets/img/circle-plus.svg" class="addRowShow" (click)="addRow('outboundInterviewWriter')" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="photography-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <table class="table table-striped">
              <thead><th class="w-65"></th><th scope="col">平面攝影</th><th scope="col" class="w-200">成本</th></thead>
              <tbody>
                <tr *ngFor="let photography of photographyArray; let i = index">
                  <th scope="row" class="deleteShowTh hoverHideTh vertical-align-middle">
                    <span *ngIf="singleAddRowEditing && !photography.singleAddRowEdit">{{ i + 1 }}</span>
                    <span *ngIf="!singleAddRowEditing" class="hoverHide">{{ i + 1 }}</span>
                    <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/circle-minus.svg" class="deleteShow" (click)="deleteRow()">
                    <img *ngIf="photography.singleAddRowEdit" role="button" src="/assets/img/circle-xmark.svg" class="confirmShow w-20-i" (click)="cancelAddRow('photography'); photography.singleAddRowEdit = false" />
                  </th>
                  <td class="penShowTd vertical-align-middle">
                    <div *ngIf="!photography.singleAddRowEdit" class="flex justify-content-between">
                      <ng-container *ngIf="photography.edit !== 'name'">
                        {{ photography.name }}
                        <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/pen.svg" class="penShow" (click)="photography.edit = 'name'; checkEditStatus('photography', i)">
                      </ng-container>
                      <ng-container *ngIf="photography.edit === 'name'">
                        <div class="position-relative w-full mr-10">
                          <input type="text" class="form-control" [value]="photography.name" #saveSignleCloumEle />
                          <img role="button" src="/assets/img/circle-xmark.svg" class="cancelShow" (click)="photography.edit = ''" />
                        </div>
                        <img role="button" src="/assets/img/check.svg" class="confirmShow"  (click)="photography.edit = ''; saveSingleCloum('photography', photography, 'A' + (i + 2), saveSignleCloumEle.value)" />
                      </ng-container>
                    </div>
                    <div *ngIf="photography.singleAddRowEdit">
                      <div class="position-relative w-full mr-10">
                        <input type="text" class="form-control" #addSingleCloumName />
                      </div>
                    </div>
                  </td>
                  <td class="penShowTd vertical-align-middle">
                    <div *ngIf="!photography.singleAddRowEdit" class="flex justify-content-between">
                      <ng-container *ngIf="photography.edit !== 'cost'">
                        NT {{ photography.cost }}
                        <img *ngIf="!singleAddRowEditing" role="button" src="/assets/img/pen.svg" class="penShow" (click)="photography.edit = 'cost'; checkEditStatus('photography', i)">
                      </ng-container>
                      <ng-container *ngIf="photography.edit === 'cost'">
                        <div class="position-relative flex align-items-center mr-10">
                          <span class="mr-10">NT</span>
                          <input type="number" class="form-control no-spinner" [value]="photography.cost" #saveSignleCloumEle />
                          <img role="button" src="/assets/img/circle-xmark.svg" class="cancelShow" (click)="photography.edit = ''" />
                        </div>
                        <img role="button" src="/assets/img/check.svg" class="confirmShow" (click)="photography.edit = ''; saveSingleCloum('photography', photography, 'B' + (i + 2), saveSignleCloumEle.value)" />
                      </ng-container>
                    </div>
                    <div *ngIf="photography.singleAddRowEdit" class="flex justify-content-between">
                      <div class="position-relative flex align-items-center mr-10">
                        <span class="mr-10">NT</span>
                        <input type="number" class="form-control no-spinner mr-10" #addSingleCloumCost />
                        <img role="button" src="/assets/img/check.svg" class="confirmShow mr-0-i" (click)="confirmAddRow('photography')" />
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="!singleAddRowEditing">
                  <td colspan="3" class="addRowTd">
                    <img role="button" src="/assets/img/circle-plus.svg" class="addRowShow" (click)="addRow('photography')" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="w-50-p h-full bounceIn animation-delay4 ml-20 position-relative">
      <h2 *ngIf="!startCalc" class="color-cadetblue blod">設定成本內容</h2>
      <h2 *ngIf="startCalc" class="color-cadetblue blod">計算中...</h2>
      <div class="box2 mb-20" [class.opacity-3]="startCalc">
        <h5 class="color-cadetblue blod">主持人</h5>
        <select class="form-control mb-20" #moderatorSelect [disabled]="startCalc">
          <ng-container *ngFor="let moderator of moderatorArray">
            <option [value]="moderator.cost">{{ moderator.name }}</option>
          </ng-container>
        </select>
        <h5 class="color-cadetblue blod">錄音室</h5>
        <select class="form-control mb-20" #recordingStudioSelect [disabled]="startCalc || refreshingSheet">
          <ng-container *ngFor="let recordingStudio of recordingStudioArray">
            <option [value]="recordingStudio.cost">{{ recordingStudio.name }}</option>
          </ng-container>
        </select>
        <h5 class="color-cadetblue blod">後制混音</h5>
        <select class="form-control mb-20" #postMixSelect [disabled]="startCalc || refreshingSheet">
          <option value="0">無</option>
          <ng-container *ngFor="let postMix of postMixArray">
            <option [value]="postMix.cost">{{ postMix.name }}</option>
          </ng-container>
        </select>
        <h5 class="color-cadetblue blod">側錄梳化</h5>
        <div class="flex">
          <select class="form-control mb-20" (change)="sideRecordingCombinationChange(sideRecordingCombinationSelect.value)" [disabled]="startCalc || refreshingSheet" #sideRecordingCombinationSelect>
            <option value="0">無</option>
            <ng-container *ngFor="let sideRecordingCombination of sideRecordingCombinationArray">
              <option [value]="sideRecordingCombination.name">{{ sideRecordingCombination.name }}</option>
            </ng-container>
          </select>
          <ng-container *ngIf="showGenderCount">
            <div class="flex mb-20 ml-20">
              <div class="flex align-items-center">
                <input class="form-control w-70" type="number" value="0" [disabled]="startCalc || refreshingSheet" #sideRecordingCombinationFM />
                <p class="mb-0 ml-10">女</p>
              </div>
              <div class="flex align-items-center">
                <input class="form-control ml-20 w-70" type="number" value="0" [disabled]="startCalc || refreshingSheet" #sideRecordingCombinationM />
                <p class="mb-0 ml-10">男</p>
              </div>
            </div>
          </ng-container>
        </div>
        <h5 class="color-cadetblue blod">訪綱</h5>
        <div class="flex">
          <select class="form-control mb-20" (change)="outboundInterviewWriterChange(outboundInterviewWriterSelect.value)" [disabled]="startCalc || refreshingSheet" #outboundInterviewWriterSelect>
            <option value="0">無</option>
            <ng-container *ngFor="let outboundInterviewWriter of outboundInterviewWriterArray">
              <option [value]="outboundInterviewWriter.cost">{{ outboundInterviewWriter.name }}</option>
            </ng-container>
          </select>
          <ng-container *ngIf="showOutboundInterviewCount">
            <div class="flex align-items-center mb-20 ml-20">
              <input class="form-control w-70" type="number" value="0" [disabled]="startCalc || refreshingSheet" #outboundInterviewWriterCount />
              <p class="mb-0 ml-10">集</p>
            </div>
          </ng-container>
        </div>
        <h5 class="color-cadetblue blod">平面攝影</h5>
        <select class="form-control mb-20" [disabled]="startCalc || refreshingSheet" #photographySelect>
          <option value="0">無</option>
          <ng-container *ngFor="let photography of photographyArray">
            <option [value]="photography.cost">{{ photography.name }}</option>
          </ng-container>
        </select>
      </div>
      <button type="button" id="liveToastBtn" class="form-control btn btn-outline-primary btn-count" (click)="updateSheet()">計算</button>
      <div *ngIf="startCalc" class="w-full h-full flex-center position-absolute -top-50">
        <div class="loading-bar-div1 zoomUp1 transition-delay1"></div>
        <div class="loading-bar-div2 zoomUp2 transition-delay2"></div>
        <div class="loading-bar-div3 zoomUp3 transition-delay3"></div>
      </div>
    </div>
  </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/podcast-cost-tool/assets/img/icon_green_check.svg" class="rounded me-2" alt="...">
      <strong class="me-auto color-cadetblue">計算結果</strong>
      <small>{{ nowDateTime }}</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body color-cadetblue">
      總成本：NT {{ resultCost }}
    </div>
  </div>
</div>
<router-outlet></router-outlet>
