<div [class.content1]="!hasInitData" class="transition-1 bg-aliceblue">
  <div [class.content2]="!hasInitData">
    <div *ngIf="!hasInitData || (hasInitData && readyStart)" [class.w-30-p]="!hasInitData" [class.mr-50]="!hasInitData" [class.box-img]="!hasInitData" [class.pd-50-20]="hasInitData" class="transition-1 flex">
      <img [class.box-img]="!hasInitData" [class.w-300]="!hasInitData" [class.w-60]="hasInitData" class="br-10 transition-1" src="/podcast-cost-tool/assets/img/logo.jpg" />
      <h2 *ngIf="hasInitData" class="title-1 slide-text" [class.show]="slideText">PODCAST COST TOOL</h2>
    </div>
    <div *ngIf="!hasInitData" class="w-70-p bounceIn">
      <h1 class="mb-20">建立成本對照表</h1>
      <div class="content3">
        <h4 class="bounceIn animation-delay2">從我的檔案匯入</h4>
        <input type="file" class="form-control mb-40 bounceIn animation-delay2" (change)="onFileSelected($event)" accept=".csv" />
        <h4 class="bounceIn animation-delay4">從Google表單匯入</h4>
        <div class="flex w-full bounceIn animation-delay4">
          <p class="mb-0 mr-10 flex align-items-center w-10-p">表單id</p>
          <input type="text" placeholder="敬請期待功能開放" disabled class="form-control w-80-p mr-10" (change)="onFileSelected($event)" accept=".csv" />
          <button class="form-control w-10-p" disabled>送出</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="hasInitData" class="pd-0-50 bg-aliceblue">
  <div *ngIf="!readyStart" class="w-full h-full flex-center h-94-vh">
    <div class="loading-bar-div1 zoomUp1 transition-delay1"></div>
    <div class="loading-bar-div2 zoomUp2 transition-delay2"></div>
    <div class="loading-bar-div3 zoomUp3 transition-delay3"></div>
  </div>
  <div *ngIf="readyStart" class="h-full flex align-items-center justify-content-center box overflow-auto h-84-vh bounceIn">
    <div class="w-50-p h-full border-right pr-20px flex flex-direction-column">
      <h2 class="bounceIn animation-delay2 color-cadetblue blod">成本對照表</h2>
      <ng-container *ngIf="moderatorArray.length > 0">
        <ul class="nav nav-tabs fade-in-down animation-delay6 mb-20" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="moderator-tab" data-bs-toggle="tab" data-bs-target="#moderator-tab-pane" type="button" role="tab" aria-controls="moderator-tab-pane" aria-selected="true">主持人</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="recordingStudio-tab" data-bs-toggle="tab" data-bs-target="#recordingStudio-tab-pane" type="button" role="tab" aria-controls="recordingStudio-tab-pane" aria-selected="false">錄音室</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="postMix-tab" data-bs-toggle="tab" data-bs-target="#postMix-tab-pane" type="button" role="tab" aria-controls="postMix-tab-pane" aria-selected="false">後製混音</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="sideRecordingCombination-tab" data-bs-toggle="tab" data-bs-target="#sideRecordingCombination-tab-pane" type="button" role="tab" aria-controls="sideRecordingCombination-tab-pane" aria-selected="false">側錄梳化</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="outboundInterviewWriter-tab" data-bs-toggle="tab" data-bs-target="#outboundInterviewWriter-tab-pane" type="button" role="tab" aria-controls="outboundInterviewWriter-tab-pane" aria-selected="false">訪綱寫手</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="photography-tab" data-bs-toggle="tab" data-bs-target="#photography-tab-pane" type="button" role="tab" aria-controls="photography-tab-pane" aria-selected="false">平面攝影</button>
          </li>
        </ul>
        <div class="tab-content h-full fade-in-down animation-delay6 overflow-auto" id="myTabContent">
          <div class="tab-pane fade show active" id="moderator-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <table class="table table-striped">
              <thead><th></th><th scope="col">主持人</th><th scope="col">成本</th></thead>
              <tbody><tr *ngFor="let moderator of moderatorArray; let i = index"><th scope="row">{{ i + 1 }}</th><td>{{ moderator.name }}</td><td>NT {{ moderator.cost }}</td></tr></tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="recordingStudio-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <table class="table table-striped">
              <thead><th></th><th scope="col">錄音室</th><th scope="col">成本</th></thead>
              <tbody><tr *ngFor="let recordingStudio of recordingStudioArray; let i = index"><th scope="row">{{ i + 1 }}</th><td>{{ recordingStudio.name }}</td><td>NT {{ recordingStudio.cost }}</td></tr></tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="postMix-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <table class="table table-striped">
              <thead><th></th><th scope="col">混音公司</th><th scope="col">成本</th></thead>
              <tbody><tr *ngFor="let postMix of postMixArray; let i = index"><th scope="row">{{ i + 1 }}</th><td>{{ postMix.name }}</td><td>NT {{ postMix.cost }}</td></tr></tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="sideRecordingCombination-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <table class="table table-striped">
              <thead><th></th><th scope="col">梳化師</th><th scope="col">性別</th><th scope="col">成本</th></thead>
              <tbody>
                <ng-container *ngFor="let sideRecordingCombination of sideRecordingCombinationArray; let i = index">
                  <tr>
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ sideRecordingCombination.name }}</td>
                    <td>女</td>
                    <td>NT {{ sideRecordingCombination.gender.FeMale.cost }}</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td>男</td>
                    <td>NT {{ sideRecordingCombination.gender.Male.cost }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="outboundInterviewWriter-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <table class="table table-striped">
              <thead><th></th><th scope="col">訪綱寫手</th><th scope="col">成本</th></thead>
              <tbody><tr *ngFor="let outboundInterviewWriter of outboundInterviewWriterArray; let i = index"><th scope="row">{{ i + 1 }}</th><td>{{ outboundInterviewWriter.name }}</td><td>NT {{ outboundInterviewWriter.cost }}</td></tr></tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="photography-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <table class="table table-striped">
              <thead><th></th><th scope="col">平面攝影</th><th scope="col">成本</th></thead>
              <tbody><tr *ngFor="let photography of photographyArray; let i = index"><th scope="row">{{ i + 1 }}</th><td>{{ photography.name }}</td><td>NT {{ photography.cost }}</td></tr></tbody>
            </table>
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngIf="moderatorArray.length > 0" class="w-50-p h-full bounceIn animation-delay4 ml-20 position-relative">
      <h2 *ngIf="!startCalc" class="color-cadetblue blod">設定成本內容</h2>
      <h2 *ngIf="startCalc" class="color-cadetblue blod">計算中...</h2>
      <div class="box2 mb-20" [class.opacity-3]="startCalc">
        <h5 class="color-cadetblue blod">主持人</h5>
        <select class="form-control mb-20" #moderatorSelect [disabled]="startCalc">
          <ng-container *ngFor="let moderator of moderatorArray">
            <option [value]="moderator.cost">{{ moderator.name }}</option>
          </ng-container>
        </select>
        <h5 class="color-cadetblue blod">錄音室</h5>
        <select class="form-control mb-20" #recordingStudioSelect [disabled]="startCalc">
          <ng-container *ngFor="let recordingStudio of recordingStudioArray">
            <option [value]="recordingStudio.cost">{{ recordingStudio.name }}</option>
          </ng-container>
        </select>
        <h5 class="color-cadetblue blod">後制混音</h5>
        <select class="form-control mb-20" #postMixSelect [disabled]="startCalc">
          <option value="0">無</option>
          <ng-container *ngFor="let postMix of postMixArray">
            <option [value]="postMix.cost">{{ postMix.name }}</option>
          </ng-container>
        </select>
        <h5 class="color-cadetblue blod">側錄梳化</h5>
        <div class="flex">
          <select class="form-control mb-20" (change)="sideRecordingCombinationChange(sideRecordingCombinationSelect.value)" [disabled]="startCalc" #sideRecordingCombinationSelect>
            <option value="0">無</option>
            <ng-container *ngFor="let sideRecordingCombination of sideRecordingCombinationArray">
              <option [value]="sideRecordingCombination.code">{{ sideRecordingCombination.name }}</option>
            </ng-container>
          </select>
          <ng-container *ngIf="showGenderCount">
            <div class="flex mb-20 ml-20">
              <div class="flex align-items-center">
                <input class="form-control w-70" type="number" value="0" [disabled]="startCalc" #sideRecordingCombinationFM />
                <p class="mb-0 ml-10">女</p>
              </div>
              <div class="flex align-items-center">
                <input class="form-control ml-20 w-70" type="number" value="0" [disabled]="startCalc" #sideRecordingCombinationM />
                <p class="mb-0 ml-10">男</p>
              </div>
            </div>
          </ng-container>
        </div>
        <h5 class="color-cadetblue blod">訪綱</h5>
        <div class="flex">
          <select class="form-control mb-20" (change)="outboundInterviewWriterChange(outboundInterviewWriterSelect.value)" [disabled]="startCalc" #outboundInterviewWriterSelect>
            <option value="0">無</option>
            <ng-container *ngFor="let outboundInterviewWriter of outboundInterviewWriterArray">
              <option [value]="outboundInterviewWriter.cost">{{ outboundInterviewWriter.name }}</option>
            </ng-container>
          </select>
          <ng-container *ngIf="showOutboundInterviewCount">
            <div class="flex align-items-center mb-20 ml-20">
              <input class="form-control w-70" type="number" value="0" [disabled]="startCalc" #outboundInterviewWriterCount />
              <p class="mb-0 ml-10">集</p>
            </div>
          </ng-container>
        </div>
        <h5 class="color-cadetblue blod">平面攝影</h5>
        <select class="form-control mb-20" [disabled]="startCalc" #photographySelect>
          <option value="0">無</option>
          <ng-container *ngFor="let photography of photographyArray">
            <option [value]="photography.cost">{{ photography.name }}</option>
          </ng-container>
        </select>
      </div>
      <button type="button" id="liveToastBtn" class="form-control btn btn-outline-primary btn-count" (click)="calcResult()">計算</button>
      <div *ngIf="startCalc" class="w-full h-full flex-center position-absolute -top-50">
        <div class="loading-bar-div1 zoomUp1 transition-delay1"></div>
        <div class="loading-bar-div2 zoomUp2 transition-delay2"></div>
        <div class="loading-bar-div3 zoomUp3 transition-delay3"></div>
      </div>
    </div>
  </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/podcast-cost-tool/assets/img/icon_green_check.svg" class="rounded me-2" alt="...">
      <strong class="me-auto color-cadetblue">計算結果</strong>
      <small>{{ nowDateTime }}</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body color-cadetblue">
      總成本：NT {{ resultCost }}
    </div>
  </div>
</div>
<router-outlet></router-outlet>
